pkgbase = mailspring-electron42-git
	pkgdesc = Mailspring Git packaged for the system Electron 42 runtime
	pkgver = 1.23.0.r0.g5b37181
	pkgrel = 1
	url = https://getmailspring.com/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = npm
	makedepends = git
	makedepends = nvm
	makedepends = curl
	makedepends = gendesk
	makedepends = jq
	depends = electron42
	depends = db5.3
	depends = hicolor-icon-theme
	provides = mailspring=1.23.0
	conflicts = mailspring
	conflicts = mailspring-git
	source = mailspring.git::git+https://github.com/Foundry376/Mailspring.git
	source = mailspring.sh
	source = mailspring-turso.patch
	sha256sums = SKIP
	sha256sums = b17ea2239c999ae8f418a538f23d6af7a1c219aff0ebc15878cb6da11024b63b
	sha256sums = 049802ab9dcb3f4e6efcb039e5c50ce13dd6ddbff5a44f59606d83a3edcce0b3

pkgname = mailspring-electron42-git
