pkgbase = mailspring-electron42-git
	pkgdesc = Mailspring Git packaged for the system Electron 42 runtime
	pkgver = 1.23.0.r0.g5b37181
	pkgrel = 1
	url = https://getmailspring.com/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = npm
	makedepends = git
	makedepends = nvm
	makedepends = curl
	makedepends = gendesk
	makedepends = jq
	depends = electron42
	depends = db5.3
	provides = mailspring=1.23.0
	conflicts = mailspring
	conflicts = mailspring-git
	source = mailspring.git::git+https://github.com/Foundry376/Mailspring.git
	source = mailspring.sh
	source = mailspring-turso.patch
	sha256sums = SKIP
	sha256sums = a774c2f54fbbeeaac3cefc0f7250796d30c86d27f0fd40b7eaf9c0fdb021623d
	sha256sums = f807d437b76a94c306d73c3034552922bbc9872ff09758b9f24918a06d2c9ee9

pkgname = mailspring-electron42-git
