pkgbase = python-tree-sitter-language-pack
	pkgdesc = Pre-compiled tree-sitter grammars for 371 programming languages
	pkgver = 1.15.0
	pkgrel = 1
	url = https://github.com/xberg-io/tree-sitter-language-pack
	arch = x86_64
	license = 0BSD
	license = Apache-2.0
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = CC0-1.0
	license = GPL-3.0-only
	license = ISC
	license = MIT
	license = MIT-0
	license = Unlicense
	license = WTFPL
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-timeout
	makedepends = maturin
	makedepends = python-installer
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-tree-sitter
	noextract = parser-sources-1.15.0.tar.zst
	options = !lto
	source = tree-sitter-language-pack-1.15.0.tar.gz::https://github.com/xberg-io/tree-sitter-language-pack/archive/v1.15.0.tar.gz
	source = parser-sources-1.15.0.tar.zst::https://github.com/xberg-io/tree-sitter-language-pack/releases/download/v1.15.0/parser-sources-1.15.0.tar.zst
	sha512sums = 0bb192860fb5aad3a7a4a75887b7440a8534bbe5a3de04e7c34d92780256e9c2e03964e4a698207db3a459783838cc4c4447ea9e6c2fa5a635a9b37c435156f0
	sha512sums = f32ba9937a736ce525f152ae638fed2a54d25c6bf700b7b0f1fd8f86e74fe11858f6e097186829d6f467bd00ace903c6e107341817624eaeb95339554966e33f

pkgname = python-tree-sitter-language-pack
